/* Navbar */
.navbar {
    background-color: var(--background-color) !important;
        
}

.navbar-custom {
  /* position: relative; */
  /* height: 110px;   */
  /* display: flex; */
  /* align-items: center; */
  /* padding: 0 20px; */
  z-index: 10;  
}

.navbar-custom::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/bg/bibs_h.png");
  background-size: cover;
  background-position: center;
  filter: blur(1px);       /* Aplica el difuminado */
  opacity: 0.9;            /* Controla intensidad */
  z-index: -1;              /* Detrás del contenido */
}

.navbar .nav-link {
    color: var(--text-color) !important;
    font-weight: 600;
}